* {
    box-sizing: border-box;
}

body {
    margin: 2% 25%;
}

.player-name {
    margin-left: 2%;
}

.post {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 3%;
    text-decoration: underline;
}

.title {
    color: black;
    font-size: 60px;
    text-align: center;
    padding: 5%;
}

.table {
    display: grid;
    background: white;
    grid-gap: 2px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.boxes {
    background: #4a4a4a;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 80px;
    justify-content: center;
    padding: 40px;
    height: 200px;
    
    
}

